@charset "UTF-8";
.table tr th {
	font-family: 메이플스토리;
}

.card-description {
	font-family: 메이플스토리;
}

.card-title {
	font-family: 메이플스토리;
}

.nav-link {
    font-family: 메이플스토리;
}
   
.nav-item img, .menu-icon img {
    height: 100%;
}

.nav-link img {
	width: 30px;
	height: 30px;
}