@charset "UTF-8";
@media( max-width: 640px ) {
	table,
	table thead,
	table tbody,
	table tr,
	table th,
	table td {
		display: block;
	}

	table tr {
		border-bottom: 1px solid #ddd;
	}

	table th,
	table td {
		border-top: none;
		border-bottom: none;
	}
}